body {
    height: 2000px;
    padding-right: 0px !important
}

.p-0 {
    padding: 0;
}
.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
}
table {
    margin-left: 5px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 8px 3px;
}
